<!--Добавление блоков-->
<div class="container">
    <div class="form-group">
        <label class="form-control name_podmenu">ОПЫТЫ</label>
        <!--<div>-->
        <div class="form-group" *ngFor="let value of selectedArr; let i = index">
            <div class="form-group">
                <select class="form-control" [(ngModel)]="selectedArr[i]">
                    <option></option>
                    <option *ngFor="let value of possibleSelect(selectedArr[i])">{{value}}</option>
                </select>
            </div>
            <div class="row">
                <div class="{{selectedArr.length == 1 ? 'col-xs-12': 'col-xs-6'}}" *ngIf="selectedArr.length !== tip_ypr.length">
                    <button class="btn btn-success btn-block otstup_ot_knopki" (click)="btn_dobavlenie_dec()" >Добавить</button>
                </div>

                <div class="{{selectedArr.length === tip_ypr.length ? 'col-xs-12': 'col-xs-6'}}" *ngIf="selectedArr.length > 1">
                    <button class="btn btn-success btn-block" (click)="btn_dobavlenie_inc(i)">Отменить</button>
                </div>

            </div>
        </div>

    </div>
</div>
<!--Конец добавления блоков-->

<h1>{{selectedArr.length}}</h1>