<!--Наполнение-->
<div class="container">
  <div class="row">
    <div class="container">
      <form action="" class="">
        <div class="form-group">

          <select class="form-control">
            <option>Редактирование вида нагрузки</option>
            <option>Добавление вида нагрузки</option>
          </select>
        </div>
        <div class="form-group">

          <select class="form-control">
            <option>Выбор вида нагрузки (основная)</option>
            <option>Основная</option>
            <option>Вспомогательная</option>
          </select>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Введите название">
        </div>
        <div class="row">
          <div class="col-xs-9">
            <label for="number_vvod_chasti_tela" class="form-control">Порядковый номер: </label>
          </div>
          <div class="col-xs-3 navbar-right">
            <input id="number_vvod_chasti_tela" type="number" class="form-control dlina_number" />
          </div>
        </div>

        <!--Функции и пояснения-->
        <div class="container panel panel-success form-group nadpis_label_center">
          <label class="">Функции и пояснения:</label>
          <textarea class="form-control form-group" rows="5"></textarea>
        </div>
        <!--Конец функций и пояснений-->
        <div class="form-group">
          <button class="btn btn-block btn-success">Сохранить изменения</button>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <button class="btn btn-success btn-block">Отменить</button>
          </div>
          <div class="col-xs-6">
            <button class="btn btn-success btn-block">Удалить</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!--Конец наполнения-->